{% extends 'base.html.twig' %}

{% block title %}Hello InitController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font-size: 18px;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% if error is defined %}
		<h2>Erreur d'initialisation ⛔ !</h2>
		{{ error }}
		{% else %}
		<h2>Initialisation est terminée ✅ !</h2>
		Vous avez initialiser la base de données avec le jeu de données nécessaire pour tester toutes les actions du projet.
		{% endif %}
		<div class="row" style="margin-top: 1rem">
			<div class="col s6">
				<a class="btn" href="{{ path('accueil') }}">
					<i class="fas fa-clipboard-list"></i>
					Revenir à l'accueil
				</a>
			</div>
		</div>
	</div>
{% endblock %}
