{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="header">
		<i class="bookland-icon fas fa-graduation-cap"></i>
		<h2 class="header-title">Book Land</h2>
		<p class="header-subtitle">Explorez les livres du monde.</p>
	</div>
{% endblock %}
