{% extends 'base.html.twig' %}

{% block title %}Edit Auteur
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier l'auteur</h1>

		{{ include('auteur/_form.html.twig', {'button_label': 'Modifier'}) }}

		<div class="row">
			<div class="col s6 offset-s6">
				<a class="btn" href="{{ path('auteur_index') }}">
					<i class="fas fa-clipboard-list"></i>
					Revenir à la liste
				</a>
			</div>
		</div>
	</div>
{% endblock %}
