{% extends 'base.html.twig' %}

{% block title %}Hello InitController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h2>Error 404 : Page n'existe pas ⛔</h2>

		La page demandée n'a pas pu être localisée.
		<ul>
			<div class="row">
				<div class="col s6 offset-s6">
					<a class="btn" href="{{ path('accueil') }}">
						<i class="fas fa-clipboard-list"></i>
						Revenir à l'accueil
					</a>
				</div>
			</div>
		</ul>
	</div>
{% endblock %}
